
Body{
background: black;
color: darkred;
}

nav-link{
	color: whitesmoke;
	background: whitesmoke;
}

h1{
	text-position:bottom;
	padding: 200px;
	background-image: url(https://i.pinimg.com/originals/c1/05/9a/c1059aaf070329927f58c662f930cdfa.gif);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	color: floralwhite
}

h1 {
  font-family: "";
  font-size: 50px;
  color: #FFFFFF;
  line-height: 1.5;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: left;
}

nav-link{
	color: darkred;
	text-align: right;
}
.nav-link-comprar{
	font-size: 20px;
	color: darkred;
}

p{
	font-size: 25px;
	color: whitesmoke;
	text-align: center;
}
h2{
	font-size: 20px;
	font-style: italic;
	color: whitesmoke;
}

h3 {
  font-family: "";
  font-size: 150px;
  color: #FFFFFF;
  line-height: 1.5;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: left;
}


h4{
	font-size: 20px;
	font-style: italic;
	color: darkred;
}

h5{
	font-size: 10px;
	font-style: italic;
	color: darkgray;
}
@media (max-width: 768px) {
	nav ul {
		flex-direction: column;
		}
	nav li {
		margin: 10px 0;
		}





